.footer {
    margin-top: 1rem;
    background: var(--dark);
    color: var(--light);
    border-top: 1px solid #f1f1f1;
    text-align: center;

}
@media(min-width:768px){
    .footer {
        min-height: 10vh;
    }
}